$cart_position: left_side;
$image_display_in_cart: True;
$action_button_position: bottom;
$mobile_start_screen: product_screen;
$pos_theme_style: style_1;
$pos_primary_color: #673ab7;
$pos_secondary_color: #dee2e6;
$pos_gradient_color : #7d2ae8;
$pos_button_style: style_1;
$pos_product_style: style_1;
$pos_body_background_type: bg_color;
$pos_body_background_color: #FFFFFF;
$pos_body_font_family: Roboto;
$pos_body_google_font_family: False;
$pos_is_used_google_font: False;
$list_view_border:without_border;
$list_row_hover:True;
$header_sticky:True;
$hover_background_color:#dee2e6;
$even_row_color: #dee2e6;
$odd_row_color:#FFFFFF;
$form_element_style: style_1;
$display_product_image_name: image_name;
$form_element_style: #FFFFFF;
